#include <dt-bindings/zmk/matrix_transform.h>

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&gpio1 6 GPIO_ACTIVE_HIGH>
            , <&gpio0 17 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    // --- ここからエンコーダーの設定追加 ---
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        label = "LEFT_ENCODER";
        // 指定された GPIO 0.11 と 1.00 を設定
        a-gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        steps = <80>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };
    // --- ここまで ---
};


/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>; 
        rows = <2>; 
        map = <
            RC(0,0) RC(0,1) 
            RC(1,0) RC(1,1)
        >;
    };
};

/ {
    physical_layout0: physical_layout_0 { 
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; 
        transform = <&default_transform>; 
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };
};
